# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Data / outputs
data/
outputs/
renders/

# Models
*.pt
*.pth
*.onnx

# Model weights
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.vscode/
.DS_Store
Thumbs.db

